*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.all-dev{
  flex-direction: column;
  justify-content:flex-end;
}

h1{
  text-align: left;
  margin: 30px;;
}

h3{
  text-align: left;
  margin: 0 30px;;
}

body {
  margin-top: 80px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */
nav{
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #9f97c5;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark-nav {
  background-color: #1826aa;
  color:#f0f0f0;
}

.dark-nav div ul li a{
  color: #d1d9ff;
}

.dark-nav div ul li a:hover{
  color: rgb(108, 108, 109);
}

nav div ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

nav div ul li{
  font-weight: bold;
}

.logo-container{
  font-weight: bold;
}

.logo-container .contraste {
  color: rgb(16, 165, 175);
}

.routes-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: '#007BFF';
  color: '#fff';
  font-size: 16px;
}

.btn-light {
  background-color: #f0f0f0;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-dark {
  background-color: #333;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

a:hover{
  color: rgb(136, 136, 136);
} 

.card{
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 6px 3px 40px 3px;
  border: 0.5px solid rgb(136, 136, 136);
  border-radius: 15px;
}

.card:hover,
.card:hover .info-container{
  border: 0.5px solid rgb(207, 209, 198);
}

.card img {
  height: 180px;
  border-radius: 10px;
}

.name-indicator{
  font-size: 14px;
  font-weight: bold;
}

.username-indicator{
  font-size: 12px;
}

.favButton{
  background-color: rgba(252, 244, 244, 0.973);
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 14px;
  right: 15px;
  transition: transform 0.3s ease;
}

.favButton:hover {
  transform: scale(1.1);
}

.id-indicator {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #dbd2d2;
  border: 0.5px solid #dbd2d2;
  width: 40px;
  height: 40px;
  border-radius: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color:#5f5b5b
}

.info-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #dbd2d2;
  border: 0.5px solid #dbd2d2;
  width: 100%;
  padding: 10px;
  bottom: 0;
  left: 0;
  border-radius: 15px;
}

.dark-info-container {
  background-color: #c2c4c4;
  border: 0.5px solid #787878;
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #f7f7f7;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

.dark{
  background-color: #443e3e96;
  color: white;
}
.dark > a {
  color: white;
}

/* Footer */
footer {
  background-color: #7f81c7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  bottom: 0;
  width: 100%;
  height: 80px;
  margin-top: 2rem;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer > img{
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 15px;
  height: 60px;
  margin: 0;
}

footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

.social-section {
  padding: 15px 20px;
  border-radius: 15px;
  display: flex;
  gap: 20px;
}

.social-section img {
  height: 30px;
}

@media (max-width: 1024px) {
  footer {
    position: relative; 
  }
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 1rem;
  }

  footer > img {
    margin-bottom: 1rem;
  }
}
